.github 

# Repo maintainers, and goverance team (like Anisble's @ansible-commit-external)
* @rrey @seuf

# or possibly, we may want to define teams at the org level.

# Example of maintainer of just a single plugin
#grafana/plugins/modules/grafana_plugin.py @someone-else
