name: CI
on: push

jobs:
  sanity:
    runs-on: ubuntu-latest
    steps:

      - name: Check out code
        uses: actions/checkout@v1
        with:
          path: ansible_collections/gundalow_collections/grafana

      - name: Set up Python 3.6
        uses: actions/setup-python@v1
        with:
          python-version: 3.6

      - name: HACK download ansible
        run: git clone https://github.com/ansible-collection-migration/ansible-minimal.git

      - name: HACK remove broken symlinks
        run: find ansible-minimal -type l ! -exec test -e {} \; -print | xargs rm -f

      - name: HACK Install ansible-minimal@devel
        run: pip install -e ./ansible-minimal/

      - name: Run sanity tests
        run: ansible-test sanity --docker -v --color --python 3.6

  units:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v1
        with:
          path: ansible_collections/gundalow_collections/grafana

      - name: Set up Python 3.6
        uses: actions/setup-python@v1
        with:
          python-version: 3.6

      - name: HACK download ansible
        run: git clone https://github.com/ansible-collection-migration/ansible-minimal.git

      - name: HACK remove broken symlinks
        run: find ansible-minimal -type l ! -exec test -e {} \; -print | xargs rm -f

      - name: HACK Install ansible-minimal@devel
        run: pip install -e ./ansible-minimal/

      - name: Run unit tests
        run: ansible-test units --docker -v --color --python 3.6

  integration:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python_version: ["3.6"]
    steps:
      - name: Check out code
        uses: actions/checkout@v1
        with:
          path: ansible_collections/gundalow_collections/grafana

      - name: Set up Python ${{ matrix.python_version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python_version }}

      - name: HACK download ansible
        run: git clone https://github.com/ansible-collection-migration/ansible-minimal.git

      - name: HACK remove broken symlinks
        run: find ansible-minimal -type l ! -exec test -e {} \; -print | xargs rm -f

      - name: HACK Install ansible-minimal@devel
        run: pip install -e ./ansible-minimal/

      - name: Run integration tests on Python ${{ matrix.python_version }}
        run: ansible-test integration --docker -v --color --retry-on-error --python ${{ matrix.python_version }}

# FIXME FUTURE: If Look if we want to split integration tests into it's own job if they are long running
# FIXME FUTURE: Other Python Versions
# FIXME FUTURE: Other Operating Systems
