name: CI
on:
- pull_request

jobs:
  sanity:
    runs-on: ubuntu-latest
    steps:

      - name: Check out code
        uses: actions/checkout@v1
        with:
          path: ansible_collections/community/grafana

      - name: Set up Python 3.6
        uses: actions/setup-python@v1
        with:
          python-version: 3.6

      - name: Install ansible-base
        run: pip install git+https://github.com/ansible-collection-migration/ansible-base.git --disable-pip-version-check

      - name: Run sanity tests
        run: ansible-test sanity --docker -v --color --python 3.6

  units:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v1
        with:
          path: ansible_collections/community/grafana

      - name: Set up Python 3.6
        uses: actions/setup-python@v1
        with:
          python-version: 3.6

      - name: Install ansible-base
        run: pip install git+https://github.com/ansible-collection-migration/ansible-base.git --disable-pip-version-check

      - name: Run unit tests
        run: ansible-test units --docker -v --color --python 3.6 --coverage

      - name: Upload Coverage data
        run: tests/coverage.sh

  integration:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python_version: ["3.6"]
    steps:
      - name: Check out code
        uses: actions/checkout@v1
#        with:
#          path: ansible_collections/community/grafana

      - name: Set up Python ${{ matrix.python_version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python_version }}

      - name: Install ansible-base
        run: pip install git+https://github.com/ansible-collection-migration/ansible-base.git --disable-pip-version-check

      - name: Build collection
        run: ansible-galaxy collection build --force . --output-path ./build_artifact

      - name: Install collection
        run: /bin/bash -c "ansible-galaxy collection install $(ls build_artifact/community-grafana-*) --force"

      - name: find files
        run: find ~/.ansible/collections/

      - name: debug check working-directory
        run: ls -la
        # chdir to where the newly build collection has been installed
        working-directory: ~/.ansible/collections/ansible_collections/community/grafana

      - name: Run integration tests on Python ${{ matrix.python_version }}
        run: ansible-test integration --docker -v --color --retry-on-error --python ${{ matrix.python_version }} --continue-on-error --diff --coverage
        # chdir to where the newly build collection has been installed
        working-directory: ~/.ansible/collections/ansible_collections/community/grafana

      - name: Upload Coverage data
        run: tests/coverage.sh


# FIXME FUTURE: If Look if we want to split integration tests into it's own job if they are long running
# FIXME FUTURE: Other Python Versions
# FIXME FUTURE: Other Operating Systems
