name: Lint

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  python:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v46
        with:
          files: "**/*.py"

      - name: Ruff check
        if: ${{ steps.changed-files.outputs.all_changed_files != '' }}
        uses: astral-sh/ruff-action@v3
        with:
          src: ${{ steps.changed-files.outputs.all_changed_files }}

      - name: Ruff format
        if: ${{ steps.changed-files.outputs.all_changed_files != '' }}
        uses: astral-sh/ruff-action@v3
        with:
          src: ${{ steps.changed-files.outputs.all_changed_files }}
          args: "format --check --diff"
  ansible:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Run ansible-lint
        uses: ansible/ansible-lint@main
